version: 2
updates:
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "test-project/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
